/* header */

.header-div {
  height: 80px;
  background: #fd6506;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-name {
  color: white;
}

.search-box {
  border-radius: 18px 0px 0 18px;
  height: 43px;
}
.search-button {
  border-radius: 0 18px 18px 0;
}

.header-icon {
  color: white;
  background-color: white;
}
.icon-name {
  color: white;
  font-family: serif;
  font-size: 14px;
}

/* navigation */

.navbar{
    background-color: white;
}

.nav-link {
  color: black;
  font-family: serif;
  font-size: 18px;
}
.nav-link:hover {
  color: red;
}
