.main-one-div {
  width: 50%;
}

/* sm and below */

@media screen and (max-width: 576px) {
  .main-one-div {
    /* display: none; */
    width: 80%;
  }
}

/* sm to md */

@media screen and (min-width: 577px) and (max-width: 992px) {
  .main-one-div {
    width: 90%;
  }
}
